@model Etch.OrchardCore.Workflows.Export.ViewModels.WorkflowExportListViewModel

<h1>@RenderTitleSegments(T["Export Workflow Data"])</h1>

<p>@T["Select from the list of workflow types below to begin export process."]</p>