@using OrchardCore.Workflows.Helpers

@model OrchardCore.Workflows.ViewModels.ActivityViewModel<Etch.OrchardCore.Workflows.Validation.Workflows.Activities.ValidateRequiredWhenCheckedTask>

<header>
    <h4><i class="fa fa-shield-alt"></i>@Model.Activity.GetTitleOrDefault(() => T["Validate Required When Checked"])</h4>
</header>
<span>@T["Validate fields: <em>{0}</em>", Model.Activity.ToValidate]</span>